
body {
    background-color: #e9e9e9;
}
.title-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid red 1px;
    flex-direction: column;
}
.about-style{
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    flex-direction: row;
}
.h2-about{
	flex:1;
    
    border: 1px solid red;
}



@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.typing { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	font-size: 3vh;
	width: 60%;
	margin: 2em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 1s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}




.p-about{
	flex:3;
    
    border: 1px solid red;
   
}
.p2-about{
    width:20%;
    border: 1px solid red;
}
.info-style{
    display: flex;
    border: 1px solid red;
    justify-content: space-around;
    flex-direction: row;
}



.image-style{
	max-width: 80vw;
	max-height: 30vh;
}
















  .circle-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
  
	.circle {
	  margin: 20px;
	}
  }
  
  /* configuration */
  $primary-color: #508991;
  $secondary-color: #74B3CE;
  $fill-color: transparent;
  $diameter: 120px;
  $border-width: 20px;
  $font-size: 25px;
  $duration: .2s;
  
  /* mixin */
  @mixin circle($color) {
	width: $diameter;
	height: $diameter;
	border: $border-width solid $color;
	background: transparent;
	border-radius: 100%;
	transition: width $duration ease-out, height $duration ease-out, border-width $duration ease-out;
  }
  
  @mixin circle-hover {
	width: $diameter + ($border-width);
	height: $diameter + $border-width;
	border-width: $border-width / 2;
  }
  
  /* placeholder */
  %fill-up-styles {
	.percentage-bar:after {
	  position: absolute;
	  content: '';
	  clip-path: inset(0 0 0 50%);
	  transform: rotate(0deg);
  
	  @include circle($secondary-color);
	}
  }
  
  %clip-styles {
	.percentage-bar { clip-path: none; }
  }
  
  /* percentage circle style */
  .circle {
	width: $diameter + ($border-width * 2);
	height: $diameter + ($border-width * 2);
	cursor: default;
	
	span {
	  position: absolute;
	  display: block;
	  vertical-align: middle;
	  width: ($diameter + (2 * $border-width));
	  height: ($diameter + (2 * $border-width));
	  text-align: center;
	  color: $secondary-color;
	  line-height: ($diameter + (2 * $border-width));
	  font-size: $font-size;
	  font-family: Helvetica, Arial, Geneva, sans-serif;
	  transition: font-size $duration ease-out;
	}
	
	&:before {
	  position: absolute;
	  content: '';
	  background-color: $fill-color;
  
	  @include circle($primary-color);
	}
  
	.percentage-bar {
	  width: $diameter + (2 * $border-width);
	  height: $diameter + (2 * $border-width);
	  position: absolute;
	  clip-path: inset(0 0 0 50%);
	  
	  &:before {
		position: absolute;
		content: '';
		clip-path: inset(0 50% 0 0);
		transform: rotate(0deg);
  
		@include circle($secondary-color);
	  }
	}
	
	&:hover {
	  &:before {
		@include circle-hover;
	  }
	  span {
		font-size: $font-size + $border-width;
	  }
	  .percentage-bar {
		&:before,
		&:after {
		  @include circle-hover;
		}
	  }
	}
	
	@for $i from 1 through 100 {
	  &.percentage-#{$i} {
		.percentage-bar:before {
		  transform: rotate(360deg / (100 / $i));
		}
	  }
	}
  
	@for $i from 51 through 100 {
	  &.percentage-#{$i} { @extend %fill-up-styles }
	  &.percentage-#{$i} { @extend %clip-styles }
	}
  }